# Dependencies
node_modules

# Next.js
.next
out

# Environment
.env*.local
.env

# Misc
.DS_Store
*.log
*.tsbuildinfo
node_modules/@next/swc-linux-x64-musl/next-swc.linux-x64-musl.node
node_modules/@next/swc-linux-x64-gnu/next-swc.linux-x64-gnu.node
